{
  "env": {
    "es6": true,
    "node": true,
    "browser": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true // JSX 문법 사용을 활성화
    },
    "ecmaVersion": "latest" // 최신 ECMAScript 버전 사용
  },
  "extends": [
    "next/core-web-vitals",
    "prettier",
    "eslint:recommended",
    "plugin:prettier/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react-hooks/recommended",
    "plugin:react/recommended",
    "plugin:@tanstack/eslint-plugin-query/recommended"
  ],
  "plugins": ["@typescript-eslint"],
  "rules": {
    // prettier 규칙 적용
    "prettier/prettier": ["error", { "endOfLine": "auto" }],
    "indent": ["error", 2], // 들여쓰기 2칸
    "quotes": ["error", "single"], // 작은따옴표 사용
    "semi": ["error", "always"], // 세미콜론 사용
    "no-console": "warn", // console 사용 시 경고
    "no-unused-vars": "warn", // 사용되지 않은 변수에 대한 경고
    "no-trailing-spaces": "error", // 뒷공백 제거
    "eol-last": ["error", "always"], // 파일 끝에 개행 추가
    "comma-spacing": ["error", { "before": false, "after": true }], // 쉼표 뒤에는 공백 추가

    // 에러 방지 및 버그 관련 규칙
    "no-undef": "warn", // 정의되지 않은 변수 사용 시 경고
    "react/prop-types": "off", // PropTypes 체크 비활성화 (TypeScript 사용 시 필요하지 않음)
    "react/react-in-jsx-scope": "off", // React import 없이 JSX 사용 허용 (Next.js에서 자동으로 처리됨)
    "react/display-name": "off", // displayName 관련 경고 비활성화 (일반적으로 이름이 추론됨)
    "jsx-a11y/anchor-is-valid": "off", // 유효하지 않은 앵커 경고 비활성화
    "no-warning-comments": [
      "warn",
      {
        "terms": ["TODO", "FIXME", "BUG"], // 주석 내 감지 단어에 대해 경고
        "location": "anywhere"
      }
    ],

    // TypeScript 관련 규칙
    "@typescript-eslint/explicit-module-boundary-types": "off", // 반환 타입 명시 비활성화
    "@typescript-eslint/no-unused-vars": "warn", // 사용되지 않은 TypeScript 변수에 대한 경고
    "@typescript-eslint/no-explicit-any": "off", // any 타입 사용 허용
    "@typescript-eslint/no-var-requires": "off",
    "@typescript-eslint/naming-convention": [
      "error",
      {
        // 변수명(selector: "variable")에 대한 규칙 설정
        "format": ["camelCase", "UPPER_CASE", "PascalCase"], // camelCase, UPPER_CASE, PascalCase 형식 허용
        "selector": "variable", // 변수에 대한 규칙 적용
        "leadingUnderscore": "allow" // 선두 언더스코어 (_) 허용
      },
      {
        // 함수명(selector: "function")에 대한 규칙 설정
        "format": ["camelCase", "PascalCase"], // camelCase, PascalCase 형식 허용
        "selector": "function" // 함수에 대한 규칙 적용
      },
      {
        // 인터페이스명(selector: "interface")에 대한 규칙 설정
        "format": ["PascalCase"], // PascalCase 형식 허용
        "selector": "interface", // 인터페이스에 대한 규칙 적용
        "filter": {
          "regex": "^I[A-Z]", // 이름이 'I'로 시작하고 대문자로 이어지는 인터페이스 선택
          "match": true
        }
      },
      {
        // 타입 별칭명(selector: "typeAlias")에 대한 규칙 설정
        "format": ["PascalCase"], // PascalCase 형식 허용
        "selector": "typeAlias" // 타입 별칭에 대한 규칙 적용
      }
    ]
  }
}
