{
  "semi": true,
  "tabWidth": 4,
  "printWidth": 80,
  "singleQuote": true,
  "trailingComma": "all",
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "proseWrap": "preserve",
  "quoteProps": "as-needed"
}
