---
import Layout from "../layouts/Layout.astro";
import Main from "@/feature/content/Main";
import HttpClient from "@/services/http-client";
import type { Articles } from "@/types/article";

const data: Articles = await HttpClient.get(`/articles`);
---

<Layout>
  <div class="container">
    <Main client:load data={data} />
  </div>
</Layout>

<style>
  .container {
    max-width: 1280px;
    margin: 50px auto;
  }
</style>
