---
interface Props {
  wrapperClass?: string;
  text: string;
}
const { wrapperClass = "", text } = Astro.props;
---

<div class={`label-container ${wrapperClass}`}>
  <span class="label-text">{text}</span>
</div>

<style>
  .label-container {
    display: flex;
    align-items: center;
    border: 1px solid #919191;
    padding: 2px 6px;
  }

  .label-text {
    font-size: 0.75rem;
    color: #919191;
  }
</style>
